@use 'variables' as *;
@use 'mixins' as *;


.accomodation__page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $margin-plus;

    @media only screen and (min-width:320px) and (max-width:975px) {
        margin: 20px;
    }

    .carousel {
    position: relative;
    width: 100%;
    overflow: hidden; 
    border-radius: $border-radius-plus;

        .carousel--container {
            display: flex;
            height: 400px;
            width: 100%;
            @media only screen and (min-width:320px) and (max-width:975px) {
                font-size: 30px;
                height: 250px;
            }
            .carousel__img {
                object-fit:cover;
                width: 100%;
                height: 100%;
                object-position: center;
                border-radius: $border-radius-plus;
                @media only screen and (min-width:320px) and (max-width:975px) {
                    border-radius: $border-radius-small;
                }
            } 

            .prev--btn, .next--btn {
                position : absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                color: $secondary-color;
                border: none;
                padding: 10px;
                font-size: 110px;

                @media only screen and (min-width:320px) and (max-width:975px) {
                    font-size: 30px;
                }
            }
            
            .prev--btn {
                left: 10px;
                @media only screen and (min-width:320px) and (max-width:975px) {
                    left: 0;
                }
            &:hover {
                    cursor: pointer;
                }

            }
            .next--btn {
                right: 10px;
                @media only screen and (min-width:320px) and (max-width:975px) {
                    right: 0;
                }
            &:hover {
                    cursor: pointer;
                }
            }  
        }
    }

    .accomodation__info {
        width: 60%;
        @media only screen and (min-width:320px) and (max-width:528px) {
            width: 100%;
        }

        .accomodation__title {
            color: $primary-color;
            font-weight: 400;
            @media only screen and (min-width:320px) and (max-width:975px) {
                margin-bottom: 15px;
            }
        }

        .accomodation__location {
            font-size: 18px;
            font-weight: 500;  
        }
        .tags--section {
            display:flex;
            flex-direction: row;
            gap: 10px;
            width: 140%;
            @media only screen and (min-width:320px) and (max-width:528px) {
                flex-wrap: wrap;
                width: 100%;
            }
        
            .tags {
               @include button-base;
               @include button-size (100%, auto, $border-radius-plus, 5px 15px);
               flex-wrap: nowrap;
               @media only screen and (min-width:320px) and (max-width:528px) {
                flex-wrap: wrap;
            }
            }
        }
    }

    .carousel__img { //pour unique photo sur le dernier logement 
        object-fit:cover;
        width: 100%;
        height: 400px;
        object-position: center;
        border-radius: $border-radius-plus;
        @media only screen and (min-width:320px) and (max-width:975px) {
            font-size: 30px;
            height: 250px;
        }
    } 
   
    .host__info {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        @media only screen and (min-width:320px) and (max-width:975px) {
            width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
        }
        
        .host--pic {
            height: 70px ;
            object-fit:contain;
            border-radius: 50%;
            display: flex;
            align-self: center;
            @media only screen and (min-width:320px) and (max-width:975px) {
                order: 3;
            }
            @media only screen and (min-width:320px) and (max-width:768px) {
                height: 50px;
            }   
        }
        .host--name {
            font-size: 18px;
            font-weight: 400;
            color: $primary-color;
            display: flex;
            align-items: center;
            padding: $padding-gen;

            @media only screen and (min-width:320px) and (max-width:975px) {
                order: 2;
                justify-content: flex-end;
            }
        }

        .star--rating {
            width: 100%;
            font-size: 24px;
            display: flex;
            justify-content: flex-end;
            @media only screen and (min-width:320px) and (max-width:975px) {
                order: 1;
                justify-content: left;
                font-size: 18px;
            }
            .stars {
                padding: 5px;
            }
            .star--full {
                color: $primary-color;
            }
            .star--empty {
                color:#E3E3E3;
            }
        }
    }

    .collapses--accomodation {
        display: flex;
        flex-direction: row;
        margin: 0 ;
        gap: 50px;
        @media only screen and (min-width:320px) and (max-width:528px) {
            flex-direction: column;
            gap: 0;
        }

    
        .collapse__item {
            width: 50%;
            @media only screen and (min-width:320px) and (max-width:528px) {
                margin: 5px 0;
                width: auto;
            }
        }

        .collapse__btn {
            border-radius: $border-radius-med;
            font-size: 18px;
            padding: 5px 15px;
            @media only screen and (min-width:320px) and (max-width:528px) {
                padding: 0 10px;
                font-size: 13px;
            }
        }
    }
}  

    


