// couleur
$primary-color: #FF6060;
$secondary-color: white;
$background-color: #F6F6F6;


//font 
$main-font: 'MontSerrat', sans-serif;
$title: 48px;
$paragraph-color: black;


// box-shadow
$shadow : 2px 2px 4px #000000;
$card-shadow: 1px 1px 1px #000000;


// taille et espace
$border-radius-small: 5px;
$border-radius-med: 10px;
$border-radius-plus: 25px;
$margin: 45px;
$margin-plus: 80px;
$padding-gen: 10px;
$padding-plus: 20px;
$padding-card: 40px;