@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'footer';
@use 'banner';
@use 'collapse';
@use 'card';


* {
    font-family: $main-font;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


h1 {
    font-size: $title;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}