.header {
  height: 60px;
  margin: 80px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .header {
    margin: 20px;
  }
}
.header .logo {
  width: auto;
  max-height: 100%;
}
.header .navbar {
  color: black;
  width: 100%;
}
.header .navbar .nav__links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 20px;
  list-style: none;
  gap: 10%;
  padding-left: 10px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .header .navbar .nav__links {
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
  }
}
.header .navbar .nav__links .nav__link, .header .navbar .nav__links .nav__link--active {
  color: black;
  text-decoration: none;
}
.header .navbar .nav__links .nav__link--active {
  text-decoration: underline;
}

.footer {
  background-color: black;
  color: white;
  height: 100px;
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .footer {
    height: auto;
  }
}
.footer .footer__logo {
  height: auto;
  width: 120px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.banner {
  height: 220px;
  width: auto;
  margin: 80px;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px #000000;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .banner {
    margin: 20px;
    height: 111px;
    justify-content: left;
    border-radius: 10px;
  }
}
.banner__text {
  text-shadow: 2px 2px 4px #000000;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .banner__text {
    width: 62%;
    padding: 20px;
  }
}
@media only screen and (min-width: 529px) and (max-width: 975px) {
  .banner__text {
    padding: 20px;
  }
}

.collapses__section {
  margin: 0 100px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .collapses__section {
    margin: 70px 0;
  }
}
@media only screen and (min-width: 529px) and (max-width: 975px) {
  .collapses__section {
    margin: 0 40px;
  }
}
.collapses__section .collapse__item {
  margin: 50px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .collapses__section .collapse__item {
    margin: 20px;
  }
}
.collapses__section .collapse__item .collapse__content {
  padding: 10px 30px;
  max-height: 0;
  transform: translateY(-8px);
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .collapses__section .collapse__item .collapse__content {
    padding: 0 30px;
    max-height: 10px;
    transform: translateY(-20px);
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  }
}
.collapses__section .collapse__item .collapse__content--open {
  padding: 10px 30px;
  max-height: 300px;
  transform: translateY(0);
  overflow: hidden;
  visibility: visible;
  transition: max-height 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  line-height: 20px;
}
.collapses__section .collapse__item .collapse__btn {
  background-color: #FF6060;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .collapses__section .collapse__item .collapse__btn {
    font-size: 15px;
    padding: 0 10px;
  }
}
.collapses__section .collapse__item .collapse__btn .collapse__icon {
  font-size: 38px;
  font-weight: 700;
  transition: transform 0.3s ease-out;
}
.collapses__section .collapse__item .collapse__btn .collapse__icon--rotated {
  transform: rotate(-180deg);
}

.cards__section {
  background-color: #F6F6F6;
  border-radius: 25px;
  margin: 80px;
  padding: 45px;
  gap: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .cards__section {
    margin: 20px;
    padding: 0;
    gap: 20px;
    background-color: transparent;
  }
}
@media only screen and (min-width: 529px) and (max-width: 975px) {
  .cards__section {
    padding: 45px;
    margin: 20px;
  }
}
@media only screen and (min-width: 975px) and (max-width: 1024px) {
  .cards__section {
    padding: 10px;
  }
}
.cards__section .card {
  width: 28%;
  height: 340px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.cards__section .card__cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cards__section .card__title {
  color: white;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 20px;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .cards__section .card {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  .cards__section .card__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .cards__section .card__title {
    color: white;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 20px;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cards__section .card {
    min-width: 40%;
    max-height: 300px;
  }
}
.cards__section .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accomodation__page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page {
    margin: 20px;
  }
}
.accomodation__page .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}
.accomodation__page .carousel .carousel--container {
  display: flex;
  height: 400px;
  width: 100%;
}
@media only screen and (min-width: 328px) and (max-width: 975px) {
  .accomodation__page .carousel .carousel--container {
    font-size: 30px;
    height: 300px;
  }
}
.accomodation__page .carousel .carousel--container .carousel__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.accomodation__page .carousel .carousel--container .prev--btn, .accomodation__page .carousel .carousel--container .next--btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 110px;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page .carousel .carousel--container .prev--btn, .accomodation__page .carousel .carousel--container .next--btn {
    font-size: 30px;
  }
}
.accomodation__page .carousel .carousel--container .prev--btn {
  left: 10px;
}
.accomodation__page .carousel .carousel--container .next--btn {
  right: 10px;
}
.accomodation__page .accomodation__info {
  width: 60%;
}
.accomodation__page .accomodation__info .accomodation__title {
  color: #FF6060;
  font-weight: 400;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page .accomodation__info .accomodation__title {
    margin-bottom: 15px;
  }
}
.accomodation__page .accomodation__info .accomodation__location {
  font-size: 18px;
  font-weight: 500;
}
.accomodation__page .accomodation__info .tags--section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.accomodation__page .accomodation__info .tags--section .tags {
  display: flex;
  justify-content: center;
  background-color: #FF6060;
  color: white;
  font-weight: 700;
  border: none;
  align-items: center;
  width: auto;
  height: 100%;
  border-radius: 25px;
  padding: 5px 15px;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .accomodation__page .accomodation__info .tags--section .tags {
    flex-wrap: wrap;
  }
}
.accomodation__page .host__info {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page .host__info {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.accomodation__page .host__info .host--pic {
  height: 70px;
  object-fit: contain;
  border-radius: 50%;
  display: flex;
  align-self: center;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page .host__info .host--pic {
    order: 3;
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .accomodation__page .host__info .host--pic {
    height: 50px;
  }
}
.accomodation__page .host__info .host--name {
  font-size: 18px;
  font-weight: 400;
  color: #FF6060;
  display: flex;
  align-items: center;
  padding: 10px;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page .host__info .host--name {
    order: 2;
    justify-content: flex-end;
  }
}
.accomodation__page .host__info .star--rating {
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-width: 375px) and (max-width: 975px) {
  .accomodation__page .host__info .star--rating {
    order: 1;
    justify-content: left;
    font-size: 18px;
  }
}
.accomodation__page .host__info .star--rating .stars {
  padding: 5px;
}
.accomodation__page .host__info .star--rating .star--full {
  color: #FF6060;
}
.accomodation__page .host__info .star--rating .star--empty {
  color: #E3E3E3;
}
.accomodation__page .collapses--accomodation {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 50px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .accomodation__page .collapses--accomodation {
    flex-direction: column;
    gap: 0;
  }
}
.accomodation__page .collapses--accomodation .collapse__item {
  width: 50%;
  margin: 50px 0;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .accomodation__page .collapses--accomodation .collapse__item {
    margin: 15px 0;
    width: auto;
  }
}
.accomodation__page .collapses--accomodation .collapse__btn {
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 15px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .accomodation__page .collapses--accomodation .collapse__btn {
    padding: 0 10px;
    font-size: 13px;
  }
}

.error__page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .error__page {
    margin: 45px;
  }
}
.error__page--title {
  display: flex;
  justify-content: center;
  color: #FF6060;
  font-size: 288px;
  margin: 45px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .error__page--title {
    font-size: 144px;
  }
}
.error__page--text {
  display: flex;
  justify-content: center;
  color: #FF6060;
  font-size: 36px;
  margin: 45px;
  font-weight: 500;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .error__page--text {
    font-size: 18px;
    text-align: center;
  }
}
.error__page--link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 18px;
  margin: 80px;
}
@media only screen and (min-width: 375px) and (max-width: 528px) {
  .error__page--link {
    font-size: 14px;
    margin: 40px 0;
  }
}

* {
  font-family: "MontSerrat", sans-serif;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
